@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(45, 47, 46);
  margin-top: 2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17rem;
  font-weight: 600;
  margin: 1em 0;
}
